<div class="activities">
    <div class="activities__header">
      <h2>Recent Activities</h2>
    </div>
    
    {% for room_message in room_messages%}
    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'user_page' room_message.user.id %}" class="roomListRoom__author">
          <div class="avatar avatar--small">
            <img src="https://randomuser.me/api/portraits/women/11.jpg" />
          </div>
          <p>
            @{{room_message.user.username}}
            <span>{{room_message.created_date|timesince}} ago</span>
          </p>
        </a>
        <div class="roomListRoom__actions">
          <a href="#">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>remove</title>
              <path
                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="activities__boxContent">
        <p>replied to post “<a href="room.html">{{room_message.room.name}}</a>”</p>
        <div class="activities__boxRoomContent">
            {{room_message}}
        </div>
      </div>
    </div>
    {%endfor%}

    
  </div>


<!-- <h4>
    Recent activity
</h4>
    {% for room_message in room_messages%}

    
        <span><a href="{% url 'user_page' room_message.user.id %}">@{{room_message.user.username}}</a> replied to {{room_message.room.name}} {{room_message.created_date|timesince}} ago</span>
        
        <p>{{room_message}}</p>
        {% if user.username == room_message.user.username%}
        <div>
            <a href= "{% url 'delete-message' room_message.id %}" >Delete post</a>
            
        </div>
        {%endif%}
        <hr>
    {%endfor%} -->