{% include 'index.html' %}


<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-top: 50px;
    }
</style>


{% block content %}
<h1>{{room.name}} page</h1>
<h5>{{room.description}}</h5>
<hr>

<div class="room-container">
    <div>
        <h2>
            Conversation
        </h2>
        <hr>

        <div>
            <a href="{% url 'home' %}">Go back</a>
        </div>
        
        {% if request.user.username == room.host.username %}
        <div>
            
            <a href="{% url 'modify_room' room.id %}">Edit room</a>
        </div>
        {% endif %}


        {% for message in room_messages%}
            <div>
                <h5>@{{message.user.username}}  {{message.created_date|timesince}} ago</h5>
                {{message.body}}
                
                {% if user == message.user%}
                <div>
                    <a href= "{% url 'delete-message' message.id %}" >Delete post</a>
                    
                </div>
                {%endif%}
                <hr>

            </div>

        {% endfor %}

        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name = 'new_post' placeholder="Write your post ...">
        </form>

    </div>

    <div>
        <h2>
            Participants
        </h2>
        <hr>
        {% for participant in room_participants%}
                <div>
                    {{participant.username}}
                </div>
                {% endfor %}

            
        

    </div>




</div>



{% endblock %}